*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.directory

# Eclipse/Aptana settings
.project

# NetBeans settings
[Nn]bproject

# For Vim swap files
*.swp

# Ignore Redcar Editor settings
.redcar

# For RVM
.rvmrc

# Conflicts
*.orig
